/*
** VARIABLES
*/
:root {
	--color-statusbar-default: #717582;
	--color-statusbar-background: #35393d;
	--color-warning: #ffc107;
	--color-danger: #dc3545;
}

/*
** BASE STRUCTURE
*/
.MMM-VolvoCar .wrapper {
	width: calc(100vw / 3);
	min-width: 450px;
}

.MMM-VolvoCar .container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.MMM-VolvoCar .container.info-icons {
	align-items: flex-start !important;
	justify-content: flex-start !important;
}

.MMM-VolvoCar .container>* {
	flex: 0 0 auto;
}

.MMM-VolvoCar .item {
	width: 50%;
}

.MMM-VolvoCar .divider {
	border-top: 1px dashed var(--color-text);
	margin: 0.5em 0;
}

/*
** STYLE: header-image
*/
.MMM-VolvoCar .header-image {
	height: 150px;
	position: relative;
}

.MMM-VolvoCar .header-image>img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	position: absolute;
	top: -25px;
	left: 0px;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.MMM-VolvoCar .header-image .container>*:first-child {
	font-weight: 700;
}

.MMM-VolvoCar .header-image .container>*:not(:first-child) {
	font-weight: 300;
}

.MMM-VolvoCar .header-image .container.layout-1>* {
	width: 100%;
	text-align: left;
}

.MMM-VolvoCar .header-image .container.layout-2>* {
	width: 50%;
	text-align: left;
}

.MMM-VolvoCar .header-image .container.layout-2>*:not(:first-child) {
	text-align: right;
}

/*
** STYLE: statusbar
*/
.MMM-VolvoCar .statusbar>.align-left {
	width: 25% !important;
}

.MMM-VolvoCar .statusbar>.align-right {
	width: 75% !important;
}

.MMM-VolvoCar .statusbar>div>.statusbar-container {
	width: auto;
	height: var(--font-size);
	background: var(--color-statusbar-background);
	border-radius: 1em;
}

.MMM-VolvoCar .statusbar>div>.statusbar-container>.statusbar-bar {
	height: 100%;
	text-align: center;
	color: #000 !important;
	font-size: var(--font-size-xsmall);
	border-radius: 1em;
	background: var(--color-statusbar-default);
}

.MMM-VolvoCar .statusbar>div>.statusbar-container>.statusbar-bar>.statusbar-text {
	line-height: var(--font-size);
}

.MMM-VolvoCar .statusbar-bar.charging-animation {
	background-image: repeating-linear-gradient(
		135deg,
		rgba(96, 188, 104, 0.75),
		rgba(96, 188, 104, 0.75) 10px,
		rgba(70, 152,  77, 0.75) 10px,
		rgba(70, 152,  77, 0.75) 20px
	) !important;
	background-size: 84px !important;
	background-position: 0px 0%;

	animation-name: statusbar-background-animation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes statusbar-background-animation {
	from {
		background-position-x: 0px;
	}

	to {
		background-position-x: 84px;
	}
}

/*
** STYLE: info-icons
*/
.MMM-VolvoCar .info-icons>.item:nth-child(odd) {
	text-align: left;
}

.MMM-VolvoCar .info-icons>.item:nth-child(even) {
	text-align: right;
}

/*
** STYLE: alert-icons
*/
.MMM-VolvoCar .alert-icons {
	text-align: center;
}

.MMM-VolvoCar .alert-icons>.item {
	width: auto;
	font-size: var(--font-size-xsmall);
	line-height: var(--font-size);
	color: #000;
	background-color: var(--color-warning) !important;
	padding: 0 0.5em 0 0.5em;
	margin: 0.5em 0.25em 0 0;
	border-radius: 0.5em;
}

/*
** STYLE: last-updated
*/
.MMM-VolvoCar .last-updated {
	text-align: end;
}

.MMM-VolvoCar .last-updated>.item {
	width: 100%;
	font-style: italic;
	font-size: var(--font-size-xsmall);
	color: var(--color-text-dimmed);
}

/*
** OVERRIDES
*/
.MMM-VolvoCar .hide {
	display: none !important;
}

.MMM-VolvoCar .align-left {
	text-align: left !important;
}

.MMM-VolvoCar .align-center {
	text-align: center !important;
}

.MMM-VolvoCar .align-right {
	text-align: right !important;
}

.MMM-VolvoCar .warning {
	color: var(--color-warning) !important;
}

.MMM-VolvoCar .warning-bg {
	background-color: var(--color-warning) !important;
}

.MMM-VolvoCar .danger {
	color: var(--color-danger) !important;
}

.MMM-VolvoCar .danger-bg {
	background-color: var(--color-danger) !important;
}