.text {
    width: 10%;
}
.bar {
    width: 90%;
}
.statusbars .bar progress {
    width: 100%;
    height: 2rem;
    accent-color: green;
}

.fa-lock-open {
    color: red;
}

.warning {
    accent-color: yellow !important;
}

.danger {
    accent-color: red !important;
}