{# GENERAL VARIABLES #}
{% if carData.doors.centralLock.value | upper in ["LOCKED"] %}{% set isLocked = true %}{% else %}{% set isLocked = false %}{% endif %}
{% set noActiveAlerts = true %}

{# FUEL SPECIFIC VARIABLES #}
{% if carData.fuelType | upper in ["DIESEL","PETROL","PETROL/ELECTRIC"] %}{% set fuelPoweredCar = true %}{% else %}{% set fuelPoweredCar = false %}{% endif %}
{% if carData.fuelType | upper in ["PETROL/ELECTRIC"] %}{% set hybridCar = true %}{% else %}{% set hybridCar = false %}{% endif %}
{% if carData.fuelAmount.value %}{% set fuelLevelPercentage = ((carData.fuelAmount.value/config.carFuelTankSize)*100) | round(0, floor)  %}{% else %}{% set fuelLevelPercentage = 0 %}{% endif %}

{# ELECTRIC SPECIFIC VARIABLES #}
{% if carData.fuelType | upper in ["ELECTRIC","PETROL/ELECTRIC"] %}{% set batteryPoweredCar = true %}{% else %}{% set batteryPoweredCar = false %}{% endif %}
{% if carData.chargingStatus.value | upper in ["CHARGING_SYSTEM_CHARGING"] %}{% set isCharging = true %}{% else %}{% set isCharging = false %}{% endif %}

{# MACRO TO RETURN A CLASS BASED ON THE PROVIDED VALUE #}
{% macro setStatusbarColor(val) %}
    {% if config.useStatusbarColor %}
        {% if val >= config.statusbarColorWarnMinMax | first and val <= config.statusbarColorWarnMinMax | last %}
            warning-bg
        {% elif val >= config.statusbarColorDangerMinMax | first and val <= config.statusbarColorDangerMinMax | last %}
            danger-bg
        {% endif %}
    {% endif %}
{% endmacro %}

{# ACTIVATE ALERT SECTION BASED ON CERTAIN PROPERTY VALUES #}
{% set regExp = r/((TOO_)?LOW|(TOO_)?HIGH|SERVICE_REQUIRED|OPEN|UNLOCKED|RUNNING|(VERY_)?(HIGH_|LOW_)?PRESSURE|FAULT|FAILURE)/i %}

{# WARNINGS #}
{% if regExp.test(carData.engineCoolantLevelWarning.value) %}{% set alertEngineCoolant = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.oilLevelWarning.value) %}{% set alertOilLevel = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.brakeFluidLevelWarning.value) %}{% set alertBreakFluid = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.washerFluidLevel.value) %}{% set alertWasherFluid = true %}{% set noActiveAlerts = false %}{% endif %}
{# WINDOWS #}
{% if regExp.test(carData.windows.frontLeft.value) %}{% set alertWindowFL = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.windows.frontRight.value) %}{% set alertWindowFR = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.windows.rearLeft.value) %}{% set alertWindowRL = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.windows.rearRight.value) %}{% set alertWindowRR = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.windows.sunroof.value) %}{% set alertSunroof = true %}{% set noActiveAlerts = false %}{% endif %}
{# DOORS #}
{% if regExp.test(carData.doors.frontLeft.value) %}{% set alertDoorFL = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.doors.frontRight.value) %}{% set alertDoorFR = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.doors.rearLeft.value) %}{% set alertDoorRL = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.doors.rearRight.value) %}{% set alertDoorRR = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.doors.hood.value) %}{% set alertHood = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.doors.tailGate.value) %}{% set alertTailgate = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.doors.tankLid.value) %}{% set alertTankLid = true %}{% set noActiveAlerts = false %}{% endif %}
{# ENGINE #}
{% if regExp.test(carData.engineStatus.value) %}{% set alertEngineRunning = true %}{% set noActiveAlerts = false %}{% endif %}
{# TIRES #}
{% if regExp.test(carData.tires.frontLeft.value) %}{% set alertTireFL = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.tires.frontRight.value) %}{% set alertTireFR = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.tires.rearLeft.value) %}{% set alertTireRL = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.tires.rearRight.value) %}{% set alertTireRR = true %}{% set noActiveAlerts = false %}{% endif %}
{# CHARGING #}
{% if regExp.test(carData.chargingSystemStatus.value) %}{% set alertCharging = true %}{% set noActiveAlerts = false %}{% endif %}
{# LIGHTS #}
{% if regExp.test(carData.warnings.brakeLightLeftWarning.value) %}{% set alertBrakeLightLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.brakeLightCenterWarning.value) %}{% set alertBrakeLightCenter = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.brakeLightRightWarning.value) %}{% set alertBrakeLightRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.fogLightFrontWarning.value) %}{% set alertFogLightFront = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.fogLightRearWarning.value) %}{% set alertFogLightRear = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.positionLightFrontLeftWarning.value) %}{% set alertPositionLightFrontLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.positionLightFrontRightWarning.value) %}{% set alertPositionLightFrontRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.positionLightRearLeftWarning.value) %}{% set alertPositionLightRearLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.positionLightRearRightWarning.value) %}{% set alertPositionLightRearRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.highBeamLeftWarning.value) %}{% set alertHighBeamLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.highBeamRightWarning.value) %}{% set alertHighBeamRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.lowBeamLeftWarning.value) %}{% set alertLowBeamLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.lowBeamRightWarning.value) %}{% set alertLowBeamRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.daytimeRunningLightLeftWarning.value) %}{% set alertDaytimeRunningLightLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.daytimeRunningLightRightWarning.value) %}{% set alertDaytimeRunningLightRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.turnIndicationFrontLeftWarning.value) %}{% set alertTurnIndicationFrontLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.turnIndicationFrontRightWarning.value) %}{% set alertTurnIndicationFrontRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.turnIndicationRearLeftWarning.value) %}{% set alertTurnIndicationRearLeft = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.turnIndicationRearRightWarning.value) %}{% set alertTurnIndicationRearRight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.registrationPlateLightWarning.value) %}{% set alertRegistrationPlateLight = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.sideMarkLightsWarning.value) %}{% set alertSideMarkLights = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.hazardLightsWarning.value) %}{% set alertHazardLights = true %}{% set noActiveAlerts = false %}{% endif %}
{% if regExp.test(carData.warnings.reverseLightsWarning.value) %}{% set alertReverseLights = true %}{% set noActiveAlerts = false %}{% endif %}

{# CONTENT SECTION #}
{% if loading %}
    <div id="mmm-volvocar" class="mmm-volvocar">
        <div class="wrapper">
            <p>{{ "LOADING" | translate | upper }}</p>
        </div>
    </div>
{% elif not authenticated %}
    <div id="mmm-volvocar" class="mmm-volvocar">
        <div class="wrapper">
            {# <p><a href="/MMM-VolvoCar/auth">{{ "AUTHENTICATE" | translate | upper }}</a></p> #}
            <center>
                <p><b>{{ "AUTHENTICATE_HEADER" | translate | upper }}</b><br>
                <i>{{ "AUTHENTICATE_TEXT" | translate }}</i></p></center>
        </div>
    </div>
{% else %}
    <div id="mmm-volvocar" class="mmm-volvocar">
        {# HEADER IMAGE #}
        <div class="wrapper {{'hide' if config.hideHeaderImage}}">
            <div class="header-image">
                <img src="{{config.headerImageFile}}"></img>
                <div class="container layout-{{config.headerImageLayout}}">
                    <span class="item {{'hide' if config.hideHeaderImageTextModel}}">{{carData.descriptions.model}} {{carData.modelYear}}</span>
                    <span class="item {{'hide' if config.hideHeaderImageTextCustom}}">{{config.headerImageCustomText}}</span>
                </div>
            </div>
        </div>

        {# STATUSBARS #}
        <div class="wrapper {{'hide' if config.hideStatusbar}}">
            {# FUEL LEVEL STATUSBAR #}
            <div class="container statusbar {{'hide' if not fuelPoweredCar}}">
                <div class="item align-left">
                    <i class="fa-solid fa-gas-pump"></i>
                    <span>{{carData.distanceToEmptyTank.value}} km</span>
                </div>
                <div class="item align-right">
                    <div class="statusbar-container">
                        <div class="statusbar-bar {{setStatusbarColor(fuelLevelPercentage)}}" style="width: {{fuelLevelPercentage}}%">
                            <div class="statusbar-text">{{fuelLevelPercentage}}%</div>
                        </div>
                    </div>
                </div>
            </div>

            {# ELECTRIC CAR BATTERY STATUSBAR #}
            <div class="container statusbar {{'hide' if not batteryPoweredCar}}">
                <div class="item align-left">
                    <i class="fa-solid {{'fa-plug' if isCharging else 'fa-bolt'}}"></i>
                    <span>{{carData.estimatedChargingTimeToTargetBatteryChargeLevel.value+' min' if isCharging else carData.distanceToEmptyBattery.value+' km'}}</span>
                </div>
                <div class="item align-right">
                    <div class="statusbar-container">
                        <div class="statusbar-bar {{'charging-animation' if isCharging and config.useStatusbarChargingAnimation}} {{setStatusbarColor(carData.batteryChargeLevel.value)}}" style="width: {{carData.batteryChargeLevel.value | round(0, floor)}}%">
                            <div class="statusbar-text">{{carData.batteryChargeLevel.value | round(0, floor)}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# INFO ICONS #}
        <div class="wrapper {{'hide' if config.hideInfoIcons}}">
            <div class="divider {{'hide' if config.hideStatusbar}}"></div>
            <div class="container info-icons">
                <div class="item {{'hides' if not carData.doors.centralLock.value}}">
                    <i class="fa-solid {{'fa-lock' if isLocked else 'fa-lock-open danger'}}"></i>
                    <span>{% if isLocked %}{{ "LOCKED" | translate | upper }}{% else %}{{ "UNLOCKED" | translate | upper }}{% endif %}</span>
                </div>
                <div class="item {{'hide' if not carData.averageSpeed.value}}">
                    <i class="fa-solid fa-gauge-high"></i>
                    <span>{{carData.averageSpeed.value}} km/h</span>
                </div>
                <div class="item {{'hide' if not carData.odometer.value}}">
                    <i class="fa-solid fa-road"></i>
                    <span>{{carData.odometer.value}} km</span>
                </div>
                <div class="item {{'hide' if (not carData.averageFuelConsumption.value) and (not carData.averageEnergyConsumption.value)}}">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="{{'hide' if not batteryPoweredCar}}">{{carData.averageEnergyConsumption.value}} kWh/100km</span>
                    <br class="{{'hide' if (not hybridCar)}}"><i class="fa-solid fa-chart-line {{'hide' if (not hybridCar)}}"></i>
                    <span class="{{'hide' if not fuelPoweredCar}}">{{carData.averageFuelConsumption.value}} L/100km</span>
                </div>
            </div>
        </div>

        {# ALERTS ICONS #}
        <div class="wrapper {{'hide' if config.hideAlertIcons or noActiveAlerts}}">
            <div class="divider {{'hide' if config.hideInfoIcons and config.hideStatusbar}}"></div>
            <div class="container alert-icons">
                {# WARNINGS #}
                {% if alertEngineCoolant %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_ENGINE_COOLANT" | translate | upper }}</span></div>{% endif %}
                {% if alertOilLevel %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_OIL_LEVEL" | translate | upper }}</span></div>{% endif %}
                {% if alertBreakFluid %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_BRAKE_FLUID" | translate | upper }}</span></div>{% endif %}
                {% if alertWasherFluid %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_WASHER_FLUID" | translate | upper }}</span></div>{% endif %}
                {# WINDOWS #}
                {% if alertWindowFL %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_WINDOW_FRONT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertWindowFR %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_WINDOW_FRONT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertWindowRL %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_WINDOW_REAR_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertWindowRR %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_WINDOW_REAR_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertSunroof %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_SUNROOF" | translate | upper }}</span></div>{% endif %}
                {# DOORS #}
                {% if alertDoorFL %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_DOOR_FRONT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertDoorFR %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_DOOR_FRONT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertDoorRL %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_DOOR_REAR_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertDoorRR %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_DOOR_REAR_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertHood %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_HOOD" | translate | upper }}</span></div>{% endif %}
                {% if alertTailgate %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TAILGATE" | translate | upper }}</span></div>{% endif %}
                {% if alertTankLid %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TANK_LID" | translate | upper }}</span></div>{% endif %}
                {# ENGINE #}
                {% if alertEngineRunning %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_ENGINE_RUNNING" | translate | upper }}</span></div>{% endif %}
                {# TIRES #}
                {% if alertTireFL %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TIRE_FRONT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertTireFR %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TIRE_FRONT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertTireRL %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TIRE_REAR_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertTireRR %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TIRE_REAR_RIGHT" | translate | upper }}</span></div>{% endif %}
                {# CHARGING #}
                {% if alertCharging %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_CHARGING" | translate | upper }}</span></div>{% endif %}
                {# LIGHTS #}
                {% if alertBrakeLightLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_BRAKE_LIGHT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertBrakeLightCenter %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_BRAKE_LIGHT_CENTER" | translate | upper }}</span></div>{% endif %}
                {% if alertBrakeLightRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_BRAKE_LIGHT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertFogLightFront %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_FOG_LIGHT_FRONT" | translate | upper }}</span></div>{% endif %}
                {% if alertFogLightRear %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_FOG_LIGHT_REAR" | translate | upper }}</span></div>{% endif %}
                {% if alertPositionLightFrontLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_POS_LIGHT_FRONT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertPositionLightFrontRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_POS_LIGHT_FRONT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertPositionLightRearLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_POS_LIGHT_REAR_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertPositionLightRearRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_POS_LIGHT_REAR_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertHighBeamLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_HIGHBEAM_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertHighBeamRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_HIGHBEAM_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertLowBeamLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_LOWBEAM_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertLowBeamRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_LOWBEAM_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertDaytimeRunningLightLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_DAYTIMERUNNINGLIGHT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertDaytimeRunningLightRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_DAYTIMERUNNINGLIGHT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertTurnIndicationFrontLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TURN_LIGHT_FRONT_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertTurnIndicationFrontRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TURN_LIGHT_FRONT_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertTurnIndicationRearLeft %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TURN_LIGHT_REAR_LEFT" | translate | upper }}</span></div>{% endif %}
                {% if alertTurnIndicationRearRight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_TURN_LIGHT_REAR_RIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertRegistrationPlateLight %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_REGPLATE_LIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertSideMarkLights %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_SIDEMARK_LIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertHazardLights %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_HAZARD_LIGHT" | translate | upper }}</span></div>{% endif %}
                {% if alertReverseLights %}<div class="item"><i class="fa-solid fa-triangle-exclamation"></i> <span>{{ "ALERT_REVERSE_LIGHT" | translate | upper }}</span></div>{% endif %}
            </div>
        </div>

        {# LAST UPDATED TIMESTAMP #}
        <div class="wrapper {{'hide' if config.hideLastUpdated}}">
            <div class="container last-updated">
                <div class="item align-right">
                    <p>{{ "LAST_UPDATED" | translate | capitalize   }} {{lastUpdated}}</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}